<h1 class="mt-4">Clients</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Register</li>
</ol>
<div class="container">
  <form #clientForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-success" role="alert" *ngIf="success">
          Client successfully saved/updated
        </div>
        <div class="alert alert-danger" role="alert" *ngFor="let error of errors">
          {{ error }}
        </div>
      </div>
    </div>
    <div class="row" *ngIf="client.id">
      <div class="col-md-6">
        <div class="form-group">
          <label>ID</label>
          <input type="text" class="form-control" [ngModel]="client.id" disabled="true" name="id" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Registration date</label>
          <input type="text" class="form-control" [ngModel]="client.dateRegister" disabled="true" name="dateRegister" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Name: *</label>
          <input type="text" class="form-control" [(ngModel)]="client.name" name="name" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>CPF: *</label>
          <input type="text" class="form-control" [(ngModel)]="client.cpf" name="cpf" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <button type="submit" class="btn btn-success">
          <i class="fa fa-save"></i> Save
        </button>
        <button type="button" class="btn btn-danger ml-1" (click)="backToListing()">
          <i class="fa fa-arrow-alt-circle-left"></i> Back
        </button>
      </div>
    </div>
  </form>
</div>
