<h1 class="mt-4">Service Provided</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active" New></li>
</ol>
<div class="container">
    <form #form="ngForm" (submit)="onSubmit()">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Client: </label>
                    <select class="form-control">
                        <option value="">Select...</option>
                        <option *ngFor="let client of clients" [ngValue]="client.id">
                            {{client.name}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>