<mat-toolbar>
    <mat-icon>account_circle </mat-icon>
    Contacts
</mat-toolbar>
<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>list</mat-icon>
            All
        </ng-template>
        <mat-card>
            <table mat-table [dataSource]='contacts' class="full-width">
                <ng-container matColumnDef="photo">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let contact">
                        <div *ngIf="contact.photo">
                            <img width="50" height="50" (click)="viewContact(contact)" src="data:image/jpg;base64,{{contact.photo}}"/>
                        </div>
                        <div *ngIf="!contact.photo">
                            <input type="file" name="photo" (change)="uploadPhoto($event, contact)"/>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>ID</th>
                    <td mat-cell *matCellDef="let contact">{{contact.id}}</td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let contact">{{contact.name}}</td>
                </ng-container>
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef>Email</th>
                    <td mat-cell *matCellDef="let contact">{{contact.email}}</td>
                </ng-container>
                <ng-container matColumnDef="favorite">
                    <th mat-header-cell *matHeaderCellDef>Favorite</th>
                    <td mat-cell *matCellDef="let contact">
                        <a href="#" (click)="favorite(contact)">
                            <mat-icon>
                                {{ contact.favorite ? 'favorite' : 'favorite_border' }}
                            </mat-icon>
                        </a>    
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                <tr mat-row *matRowDef="let row; columns: columns;"></tr>
            </table>
        </mat-card>
    </mat-tab>
    <mat-tab> 
        <ng-template mat-tab-label>
            <mat-icon>face</mat-icon>
            New
        </ng-template>
        <mat-card class="half-width">
            <mat-card-title>New Contact</mat-card-title>
            <form [formGroup]="form" (ngSubmit)="submit()">
                <mat-form-field class="full-width">
                    <mat-label>Name:</mat-label>
                    <input formControlName="name" matInput placeholder="Type your name"/>
                </mat-form-field>
                <div *ngIf="form.controls.name.errors">
                    <div *ngIf="form.controls.name.errors.required">Name field is required</div>
                </div>
                <mat-form-field class="full-width">
                    <mat-label>Email:</mat-label>
                    <input formControlName="email" matInput placeholder="Type your email"/>
                </mat-form-field>
                <div *ngIf="form.controls.email.errors">
                    <div *ngIf="form.controls.email.errors.required">Required email</div>
                    <div *ngIf="form.controls.email.errors.email">Invalid email</div>
                </div>
                <button mat-raised-button color="primary">Add</button>
            </form>
        </mat-card>
    </mat-tab>
</mat-tab-group>


